/* Global settings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Description section */
.desc {
    margin-bottom: 100px;
}

.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.6; /* Set line-height to 0 to remove space between spans */
}

.center-text span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    opacity: 0.85;
    margin: 0; /* Remove default margin */
}

.center-text span:nth-child(1) {
    color: var(--Solid-Teal---Default, #78D5D7);
}

.center-text span:nth-child(2) {
    color: var(--Solid-Yellow---Default, #FFD275);
}

.center-text span:nth-child(3) {
    color: var(--Solid-Purple---Default, #9381FF);
}

.center-text span:nth-child(4) {
    color: var(--Solid-Red---Default, #FF5A5F);
}

.center-text span:nth-child(5) {
    color: var(--Solid-Teal---Dark, #084C61);
}

.vertical-line {
    width: 1px;
    height: 100px;
    background-color: black;
    margin: 20px auto;
}

/* Resume section */
.resu {
    margin-top: 0;
}

h2 {
    text-align: left;
    margin-left: 12%;
}

.resumer {
    text-align: left;
    margin-left: 12%;
    margin-top: 2%;
}

.right-side {
    display: flex;
}

.first, .seconde {
    border-radius: 30px;
    width: 400px;
    height: 300px;
}

.first {
    border: 2px solid #9381FF;
    margin-right: 5px;
}

.seconde {
    border: 2px solid #FFD275;
    margin-top: 150px;
}

/* Rectangle */
.rect {
    width: auto;
    height: 250px;
    background-color: #f4f2ff;
    margin: 30px;
    border-radius: 10px;
}

/* Cards section */
.cards {
    margin-top: 20px;
}
.one, .two, .three, .four {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    
    height: 100px; 
    margin-bottom: 10px; 
    border-radius: 20px;
    position: relative;
}
/* arrow */
.arrow{
    position: absolute; /* Use fixed if you want it to be relative to the viewport */
    bottom: 0;
    right: 0;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
i.bi {
    font-size: 24px; /* Adjust size as needed */
    color: rgb(0, 0, 0); /* Adjust color as needed */
}
/* Animation for spinning icons */
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  
  .icon-spin {
    animation: spin 0.5s ease-in-out infinite;
  }
.one {
    height: 28vh !important; 
}

.two {
    height: 50vh !important; 
}

.three, .four {
    height: 80vh !important; 
}






































/* Footer */
footer {
    background-color: #f4f2ff; /* Adjust background color */
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Add margin to separate from content */
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 0%; /* Optional: Make social icons round */
}

.copy {
    font-size: 14px;
    color: #000000;
    margin-top: 10px; /* Add space between social icons and copyright text */
}


/* Responsive design */
@media only screen and (max-width: 768px) {
    .center-text {
        margin: 5px;
    }

    .center-text span {
        font-size: 40px;
    }

    .resu {
        margin-bottom: 10px;
    }

    .resumer, h2 {
        margin-left: 6%;
        text-align: center;
    }

    .rect {
        margin: 10px 0 0 0;
    }
}
