@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.desc{
    margin-bottom: 100px;
}
.center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.6; /* Set line-height to 0 to remove space between spans */
}

.center-text span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    opacity: 0.85;
    margin: 0; /* Remove default margin */
}

.center-text span:nth-child(1) {
    color: var(--Solid-Teal---Default, #78D5D7);
}

.center-text span:nth-child(2) {
    color: var(--Solid-Yellow---Default, #FFD275);
}

.center-text span:nth-child(3) {
    color: var(--Solid-Purple---Default, #9381FF);
}

.center-text span:nth-child(4) {
    color: var(--Solid-Red---Default, #FF5A5F);
}

.center-text span:nth-child(5) {
    color: var(--Solid-Teal---Dark,#084C61 );

}
.vertical-line {
    width: 1px;
    height: 100px;
    background-color: black;
    margin: 20px auto 20px;
    margin-bottom: 10px;
}


/*resumer description*/
.resumer{
    border: 2px solid  #084C61 ;
    height: 500px;
    border-radius: 20px;
    margin: 12px;
}


/*Cards*/
* {

}
body {

}
section {
  height: 100%;
    box-sizing: border-box;
    margin: 0;
  padding: 0;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 710px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #d3d1d1;
}
p {
  font-size: 18px;
  font-weight: 400;
  color: #d3d1d1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
a.zoomed p {
  -webkit-line-clamp: unset;
}
a.zoomed .card-inner {
  overflow: auto;
}
a.opacity-0 {
  opacity: 0;
}
.overflow {
  overflow: hidden;
}
.overflow .background {
  opacity: 0 !important;
}

.background {
  background-color: #2c5c7f;
  border-radius: 20px;
  position: absolute;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.card-wraper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
}
a.card {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 10px;
}
.card-main {
  border: 1px solid #1a5582;
  padding: 40px;
  width: 100%;
  height: 100%;
  min-height: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #000;
}
.card:hover .card-main {
  position: relative;
  z-index: 20;
}
.card-inner {
  position: relative;
  z-index: 50;
  height: 100%;
}
.card-inner div {
  height: 100%;
}
img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 991px) {
  body {
    height: 100%;
  }
  .container {
    max-width: 720px;
    display: block;
  }
  .card-wraper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 520px;
  }
  .card-wraper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .card-main {
    padding: 30px 20px;
  }
  a.card {
    padding: 6px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
  .card-wraper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .card-main {
    padding: 40px;
  }
  a.card {
    padding: 10px;
  }
}
    

































/* footer */
footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.social-icons {margin-bottom: 10px;}
.social-icons a {margin: 0 10px;}

.social-icons img {
    width: 40px; /* Set width to your desired size */
    height: 40px; /* Set height to your desired size */
}

.copy {
    font-size: 14px;
    color: #000000;
}

.plus{
    color:#c3c3c3;
    cursor: pointer;
}
.plus:hover{
    color: #142850;
}

.button-left,.button-right {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;
}

.button-left {left: 0;}
.button-right {right: 0;}






@media only screen and (max-width: 768px) {
    .center-text{
        margin: 5px;
    }
    .center-text span {

        font-size: 40px;

    }
}