footer {
  background-color: #f4f2ff; /* Adjust background color */
  padding: 20px;
  text-align: center;
  margin-top: 20px; /* Add margin to separate from content */
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 0%; /* Optional: Make social icons round */
}

.copy {
  font-size: 14px;
  color: #000000;
  margin-top: 10px; /* Add space between social icons and copyright text */
}
